{
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "babelOptions": {
           "presets": ["@babel/preset-react"]
        }
    },
    "rules": {
        "max-len": [1, 120, 2, {"ignoreComments": true}]
    }
}